*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* chinh font chu ca website */
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. tu ngoai vao trong
2. tu tren xuong
3. tu tong quan den chi tiet

*/
/* 
1. vi tri
2. kich thuoc (width, height)
3. mau sac
4 kieu dang(kieu chu hinh tron, vuong)
*/



#main{
    
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1 ;
}

#nav{
    display: inline-block;
}

#nav > li {
    display: inline-block;/* de cac li tren 1 hang */
}
#nav .subnav{
    list-style-type: none;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none; /* doi mau chu va bo gach chan */
    line-height: 46px;/* can giua cac chu voi khung  */
    padding: 0 24px;/* can khoang cach 2 ben giua cac chu */
    display: block;
}
#nav > li:hover > a ,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;  /* an di cac nav con */
    top: 100%;
    left: 0;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-button{
    float: right;
    padding:0 21px;
    
}

#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50% ;
    background: url('/w3_band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#content{
    height: 1000px;
    background-color: #ccc;
}

#slider .text-content{
    position: absolute;
    left: 50%;
    bottom: 48px;
    color: #fff;
    text-align: center;
    transform: translateX(-50%);
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-dicription{
    font-size: 15px;
    margin-top: 25px;
}

#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}



#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 8px;
}
/* class chung */
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.text-center{
    text-align: center !important;
}

.mt-8px{
    margin-top: 8px !important;
}

.mt-16px{
    margin-top: 16px !important;
}

.pull-right{ 
    float: right !important;/* dich sang phai */
}


.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    display: inline-block;
    border: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 8px;
}


/* tour section */
.tour-section{
    background-color: #000;
}

.ticket-list{
    margin-top: 40px;
    background-color: #fff;
    list-style: none;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* place */
.places-list {
    margin-top: 32px;
}


.place-img {
    width: 100%;
    display: block;
}
.places-list .place-img:hover{
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 500;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-des {
    margin-top: 15px;
    line-height: 1.4;
    margin-bottom: 8px;
}



/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-bag{
    margin-right: 16px;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation:  modalFadeIn ease .6s;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 8px;
    opacity: 0.8;/* lam mo */
}

.modal-close:hover{
    color: #000;
}

.modal-header{
    background-color: #009688 ;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-body{
    padding: 16px;
}

.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    font-size: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 16px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    font-size: 15px;  
    padding: 18px;
    width: 100%;
    color:white;
    text-transform: uppercase;
    
}

#buy-tickets:hover{
    opacity: 0.8;
}

.modal-footer{
    text-align: right;
    padding:16px;
}

.modal-footer a{
    color: blue;
}

/* hieu ung open modal  */
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    top{
        opacity: 1;
        transform: translateY(0);
    }
}

/* contact form */
.contact-content{
    margin-top: 48px;
    line-height: 1.5;
}

.contact-infor{
    font-size: 18px;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-comtrol{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

/* map-section */
.map-section img{
    width: 500;
    padding: 24px;
}


/* footer section */
/* #footer{
    padding: 64px 16px;
    text-align: center;
    display: block;
} */

#footer{
    bottom: 0;
}